<div class="container wrapper">
  <h2 class="m-1">Indicações</h2>
  <div class=" m-3 cabecalho">

    <button
      type="button"
      class="btn btn-success btn-sm move-right mr-5"
      [routerLink]="['/add-indicado/']"
    >
      Nova Indicação
    </button>
  </div>
  <div class="parent">
    <div *ngFor="let indicado of IndicadosList">
      <div class="card box" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{ indicado.nome }}</h5>
          <div class='d-flex justify-content-between'>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ indicado.desc_status }}
            </h6>

            <button
            [disabled]='indicado.status_indicacao === 3 ? true : false'
              type="button"
              class="btn btn-primary btn-sm"
              (click)="evoluirIndicado(indicado)"
            >
              Evoluir
            </button>
          </div>
          <p class="card-text">{{ indicado.cpf }}</p>
          <p class="card-text">{{ indicado.telefone }}</p>
          <p class="card-text">{{ indicado.email }}</p>
          <button
            type="button"
            class="btn btn-warning m-1 btn-sm move-right"
            [routerLink]="['/update-indicado/', indicado.id]"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="deleteIndicado(indicado)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
